<!DOCTYPE html>
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.1207/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.1207/styles/kendo.blueopal.min.css" />
    <script src="https://kendo.cdn.telerik.com/2021.3.1207/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.3.1109/js/kendo.web.min.js"></script>
</head>

<body>

    <script src="main.js"></script>
    <style>
            body {
                background-image: url('https://media.istockphoto.com/photos/simple-yellow-background-of-an-artificial-square-block-contour-picture-id1316504666?b=1&k=20&m=1316504666&s=170667a&w=0&h=j23WRIEmmhMer6XVvlxRww-At0yW5fdbt8yLfeF6-PM=');
            }
    </style>
    <div class="container">
            <button id="btnBack" onclick="window.location.href='first1.html'" class="button" style="font-size:1vw;">Back<-- </button>
    </div>
    <h4 style="font-size:3vw;">CRUD Operation on Course</h4>
    <div id="grid"></div>
    </script>

    <script>
        $(function () {
                    $("button").kendoButton().css("background-color", "white");
                });
    </script>

</body>
</html>